@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    background-color: #042D01;
}

h1{
    color: white;
    font-size: clamp(25px, 5vw, 50px);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 50px;
    text-align: center;
}

h2{
    color: white;
    font-size: clamp(10px, 2vw, 25px);
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 50px;
    text-align: center;
}

h2>a{
    color: rgb(246, 243, 250);
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: rgba(246, 243, 250, 0.733);
}

section{
    padding-top: 7vh;
    padding-bottom: 7vh;
    padding-left: 2vh;
    margin-left: 5vh;
    margin-right: 5vh;
    border-radius: 2vh;
}

section.normal{
    background-color: white;
}

section.imagem{
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

section.imagem2{
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.quadro{
    background-color: rgba(51, 5, 5, 0.459);
    border-radius: 5px;
}

article{
    font-size: clamp(10px, 3vw, 40px);
    padding: 5px;
    width: 70%;
    max-width: 500px;
}

/* Rodapé */
footer{
    background-color: #042D01;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: clamp(10px, 3vw, 20px);
}

footer>a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}